.row-fluid
  .col-md-12.text-center
    = link_to image_tag('cl/5_1.png', style: "height: 80px; width: 80px;", alt: "Официальный портал органов власти Калужской области"), "http://www.admoblkaluga.ru/", "data-toggle" => "tooltip", title: "Официальный портал органов власти Калужской области", "target"=>"blank"
    = link_to image_tag('cl/3.png', style: "width: 80px;", alt: "Калужский областной центр медицинской профилактики"), "http://budzdorov-kaluga.ru/", "data-toggle" => "tooltip", title: "Калужский областной центр медицинской профилактики", "target"=>"blank"
    = link_to image_tag('cl/tfoms.png', style: "width: 100px;", alt: "Территориальный фонд обязательного медицинского страхования Калужской области"), "http://oms.kaluga.ru/", "data-toggle" => "tooltip", title: "Территориальный фонд обязательного медицинского страхования Калужской области", "target"=>"blank"
    = link_to image_tag('cl/gos.png', style: "width: 70px;", alt: "Электронное правительство - Госуслуги"), "http://www.gosuslugi.ru/", "data-toggle" => "tooltip", title: "Электронное правительство(gosuslugi.ru)", "target"=>"blank"
    = link_to image_tag('cl/reg40.png', style: "width: 62px;", alt: "Электронная регистратура"), "http://xn--40-6kcanlw5ddbimco.xn--p1ai/#!/clinics/", "data-toggle" => "tooltip", title: "Электронная регистратура", "target"=>"blank"
    = link_to image_tag('cl/1231.png', style: "width: 220px;", alt: "Служба технической поддержки ЕГИСЗ.РФ"), "https://egisz.rt-eu.ru/", "data-toggle" => "tooltip", title: "Служба технической поддержки ЕГИСЗ.РФ", "target"=>"blank"
    = link_to image_tag('cl/7.png', style: "width: 80px;", alt: "ФГБУ «ЦНИИОИЗ» Минздрава России"), "http://mednet.ru/", "data-toggle" => "tooltip", title: "ФГБУ «ЦНИИОИЗ» Минздрава России", "target"=>"blank"
    = link_to image_tag('cl/5_2.png', style: "width: 80px;", alt: "Официальный портал Министерства здравоохранения Калужской области"), "http://www.admoblkaluga.ru/sub/health/", "data-toggle" => "tooltip", title: "Официальный портал Министерства здравоохранения Калужской области", "target"=>"blank"
    = link_to "Служба технической поддержки ЕГИСЗ.РФ","https://egisz.rt-eu.ru/", "data-toggle" => "tooltip", title: "Служба технической поддержки ЕГИСЗ.РФ", "target"=>"blank"
    
   

    = link_to image_tag('cl/listendoctor.jpg', style: "width: 150px;", alt: "Официальная группа пилотного проекта Минздрава России, созданного для решения проблем качества и комфортности оказания медицинской помощи"), "https://vk.com/poslushaite_doktor", "data-toggle" => "tooltip", title: "Официальная группа пилотного проекта Минздрава России, созданного для решения проблем качества и комфортности оказания медицинской помощи", "target"=>"blank"
    = link_to image_tag('zimbra.png', style: "width: 80px;", alt: "Zimbra"), "https://post.miac.kaluga.ru/", "data-toggle" => "tooltip", title: "Zimbra", "target"=>"blank"
.row-fluid
  .col-md-12.text-center
    = link_to image_tag('all_info_nok.png', style: "width: 220px;", alt: "Общая информация по медицинским организациям региона"), "https://nok.rosminzdrav.ru/staticogvmedorg/17", "data-toggle" => "tooltip", title: "Общая информация по медицинским организациям региона", "target"=>"blank"

    = link_to image_tag('all_people.png', style: "width: 240px;", alt: "Информация по общественному совету региона"), "https://nok.rosminzdrav.ru/staticogvconcil/17", "data-toggle" => "tooltip", title: "Информация по общественному совету региона", "target"=>"blank"

    = link_to image_tag('nok_all.png', style: "width: 240px;", alt: "Анкета НОК региона"), "https://nok.rosminzdrav.ru/staticogvjustank/17", "data-toggle" => "tooltip", title: "Анкета НОК региона", "target"=>"blank"
